TOPIC: String Based Assignment Problem
1. Write a program to reverse a string.

In [1]:
a='reverse'
print(a[::-1])

esrever

2. Check if a string is a palindrome.

In [78]:
a=input('enter a string')
print(a)
a1=a[::-1]
print(a1)
if(a==a1):
     print('string is palindrome')
else:
     print('string is not palindrome')

enter a string malayalam

malayalam
malayalam
string is palindrome

3. Convert a string to uppercase.

In [24]:
a='lionel messi'
a=a.upper()
print('After uppercase:',a)

After uppercase: LIONEL MESSI

4. Convert a string to lowercase.

In [25]:
a='ROHIT SHARMA'
a=a.lower()
print('After lowercase:',a)

After lowercase: rohit sharma

5. Count the number of vowels in a string.

In [30]:
a = input("Enter a string: ")
a = a.lower()
vowel_count = 0
for char in a:  
    if char not "aeiou":
        vowel_count += 1
print("Number of vowels:", vowel_count)

Enter a string:  detective penguin

Number of vowels: 7

6. Count the number of consonants in a string.

In [36]:
a = input("Enter a string: ")
cons_count = 0
for char in a:  
    if char not in "aeiouAEIOU":
        cons_count += 1
print("Number of cons:", cons_count)

Enter a string:  ERdfghRTYCghbnjkm

Number of cons: 16

7. Remove all whitespaces from a string.

In [43]:
a = '       sad life:('
print('Before :',a)
a=a.strip()
print('After:',a)

Before :        sad life:(
After: sad life:(

8. Find the length of a string without using the `len()` function.

In [48]:
a=input('Enter a string')
count=0
for char in a:
    count+= 1
print('Length of the string',count)

Enter a string Logical

Length of the string 7

9. Check if a string contains a specific word.

In [53]:
a=input('Enter the string')
b=input('enter the substring')
if b in a:
    print(f"{b} is substring of {a}")
else:
    print(f"{b} is not substring of {a}")

Enter the string hihenry
enter the substring henry

henry is substring of hihenry

10. Replace a word in a string with another word.

In [63]:
a=input('Enter the string')
b=input('enter replace word')
c=input('enter replaced word')
d=a.replace(b,c)
print(d)

Enter the string hello world
enter replace word world
enter replaced word planet

hello planet

Count the occurrences of a word in a string.

In [64]:
a=input('Enter the string')
b=input('Enter the string for count')
count = a.count(b)
print(count)

Enter the string queen
Enter the string for count e

2

12. Find the first occurrence of a word in a string.

In [66]:
a=input('Enter the string')
b=input('Enter the string for position')
position = a.index(b)
print('position of string',position)

Enter the string my name is stephen curry
Enter the string for position p

position of string 14

Find the last occurrence of a word in a string.

In [70]:
a=input('Enter the string')
b=input('Enter the string for position')
position = a.rfind(b)
print('position of string',position)

Enter the string queen
Enter the string for position e

position of string 3

14. Split a string into a list of words.

In [76]:
a=input('Enter the string:')
b=a.split()
print(b)

Enter the string: i am pwskills student

['i', 'am', 'pwskills', 'student']

15. Join a list of words into a string.

In [3]:
a=['who','are','you']
b=' '.join(a)
print(b)

who are you

16. Convert a string where words are separated by spaces to one where words
are separated by underscores.

In [4]:
a=input('Enter a string')
print('Before replacing: ',a)
b=a.replace(" ","_")
print('After replacing:',b)

Enter a string This is bussiness

Before replacing:  This is bussiness
After replacing: This_is_bussiness

17. Check if a string starts with a specific word or phrase.

In [7]:
a=input('Enter the string')
b=input('Enter the word or phrase to check at begining')
if a.startswith(b):
    print(f'String starts with {b}')
else:
    print(f'String doesnt start with {b}')

Enter the string dogs are emotional
Enter the word or phrase to check dogs

String starts with dogs

18. Check if a string ends with a specific word or phrase.

In [8]:
a=input('Enter the string')
b=input('Enter the word or phrase to check at end')
if a.endswith(b):
    print(f'String ends with {b}')
else:
    print(f'String doesnt ends with {b}')

Enter the string cats are not emotional
Enter the word or phrase to check at end emotional

String ends with emotional

19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [10]:
a=input('Enter the string')
print('before using title:',a)
a=a.title()
print('After using title',a)

Enter the string pathaan

before using title: pathaan
After using title Pathaan

20. Find the longest word in a string.

In [13]:
a = input("Enter a string: ")
b = a.split()
longest_word = ""
max_length = 0
for word in b:
    if len(word) > max_length:
        longest_word = word
        max_length = len(word)
print("Longest word:", longest_word)
print("Length of the longest word:", max_length)

Enter a string:  bad boys

Longest word: boys
Length of the longest word: 4

21. Find the shortest word in a string.

In [17]:

a = input('Enter the string')
b = a.split()
shortest_word = None
min_length = float('inf')
for word in b:
    if len(word) < min_length:
        shortest_word = word
        min_length = len(word)
print("Shortest word:", shortest_word)
print("Length of the shortest word:", min_length)

Enter the string convocation was always fun

Shortest word: was
Length of the shortest word: 3

22. Reverse the order of words in a string.

In [19]:
a = input('Enter the string')
b=a.split()
c=' '.join(b[::-1])
print('After reverse:',c)

Enter the string he is good boy

After reverse: boy good is he

23. Check if a string is alphanumeric.

In [26]:
a = input('Enter the string')
a=a.isalnum()
print(a)

Enter the string #alpha

False

24. Extract all digits from a string.

In [42]:
a = input('Enter the string')
b=[char for char in a if char.isdigit()]
c=' '.join(b)
print("extracted digits:",c)

Enter the string messi10

extracted digits: 1 0

25. Extract all alphabets from a string.

In [43]:
a = input('Enter the string')
b=[char for char in a if char.isalpha()]
c=' '.join(b)
print("extracted alhpabets:",c)

Enter the string worldcup

extracted alhpabets: w o r l d c u p

26. Count the number of uppercase letters in a string.

In [52]:
a = input('Enter the string')
b=[char for char in a if char.isupper()]
print('Number of ucase letters:',len(b))

Enter the string Today Is Wednewsday

Number of ucase letters: 3

27. Count the number of lowercase letters in a string.

In [50]:
a = input('Enter the string')
b=[char for char in a if char.islower()]
print('number pf lcase letters:',len(b))

Enter the string One Piece

number pf lcase letters: 6

28. Swap the case of each character in a string.

In [67]:
a = input('Enter the string')
b=[char for char in a if char.isupper()]
print('Before swapping the case of upper:',b)
c=[char for char in a if char.islower()]
print('Before swapping the case of lower:',c)
b=str(b)
c=str(c)
b=b.lower()
c=c.upper()
print('\n')
print('After swapping ucase to lcase:',b)
print('After swapping lcase to ucase:',c)

Enter the string UPPERlower

Before swapping the case of upper: ['U', 'P', 'P', 'E', 'R']
Before swapping the case of lower: ['l', 'o', 'w', 'e', 'r']


After swapping ucase to lcase: ['u', 'p', 'p', 'e', 'r']
After swapping lcase to ucase: ['L', 'O', 'W', 'E', 'R']

29. Remove a specific word from a string.

In [75]:
a=input('Enter the string')
b=input('enter deleting word')
c=(' ') 
d=a.replace(b,c)
print('After deleting word:',d)

Enter the string hell paradise
enter deleting word hell

After deleting word:   paradise

30. Check if a string is a valid email address.

In [77]:
a=input('Enter the string')
if '@gamil.com' and a.islower():
    print("your email is valid")
else:
    print("invalid")

Enter the string narutouzumaki8@gmail.com

your email is valid

31. Extract the username from an email address string.

In [80]:
a=input('Enter the string')
b=a.split('@')
print('USERNAME:',b[0])

Enter the string luffy@gmail.com

USERNAME: luffy

32. Extract the domain name from an email address string.

In [84]:
a=input('Enter the string')
b=a.split('@')
print('USERNAME:',b[-1])

Enter the string ranvijaysingh@gmail.com

USERNAME: gmail.com

33. Replace multiple spaces in a string with a single space.

In [87]:
a=input('Enter the string:')
print('Before deleting multiple spaces:',a)
b=' '.join(a.split())
print('After deleting multiple spaces:',b)

Enter the string: we   are       happy

Before deleting multiple spaces: we   are       happy
After deleting multiple spaces: we are happy

34. Check if a string is a valid URL.

In [1]:
url_to_check = "https://www.example.com"
valid_schemes = ["http://", "https://", "ftp://", "ftps://"]
scheme_found = any(url_to_check.startswith(scheme) for scheme in valid_schemes)
domain_part = url_to_check.split("://", 1)[-1]
dot_found = "." in domain_part
if scheme_found and dot_found:
    print(f"{url_to_check} is a valid URL.")
else:
    print(f"{url_to_check} is not a valid URL.")

https://www.example.com is a valid URL.

35. Extract the protocol (http or https) from a URL string.

In [4]:
a =input('enter url string')
b=a.find(':')
c = a[:colon_position]
print(f"The protocol of {a} is {c}.")

enter url string http://10.0.0.12:8090/httpclient.html

The protocol of http://10.0.0.12:8090/httpclient.html is http.

36. Find the frequency of each character in a string.

In [8]:
a=input('Enter the string:')
b = {}
for char in a:
    b[char] = b.get(char, 0) + 1
for char, count in b.items():
    print(f"The character '{char}' appears {count} times.")

Enter the string: visca el barca

The character 'v' appears 1 times.
The character 'i' appears 1 times.
The character 's' appears 1 times.
The character 'c' appears 2 times.
The character 'a' appears 3 times.
The character ' ' appears 2 times.
The character 'e' appears 1 times.
The character 'l' appears 1 times.
The character 'b' appears 1 times.
The character 'r' appears 1 times.

37. Remove all punctuation from a string.

In [1]:
a=input('Enter the string:')
b = set(".,!?;:'\"()[]{}<>")
c = ''.join(char for char in a if char not in b)
print(f"Original string: {a}")
print(f"String without punctuation: {c}")

Enter the string: wow! what an actor he is.

Original string: wow! what an actor he is.
String without punctuation: wow what an actor he is

38. Check if a string contains only digits.

In [4]:
a=input('Enter the string:')
if a.isdigit():
    print(f"{a} contains only digits.")
else:
    print(f"{a} contains non-digit characters.")

Enter the string: Curry 30

Curry 30 contains non-digit characters.

39. Check if a string contains only alphabets.

In [5]:
a=input('Enter the string:')
if a.isalpha():
    print(f"{a} contains only alphabets.")
else:
    print(f"{a} contains non-alphabets characters.")

Enter the string: he is 35 years old

he is 35 years old contains non-alphabets characters.

40. Convert a string to a list of characters.

In [7]:
a=input('Enter the string:')
b = list(a)
print(f"Original string: {a}")
print(f"List of characters: {b}")

Enter the string: LIST

Original string: LIST
List of characters: ['L', 'I', 'S', 'T']

41. Check if two strings are anagrams.

In [14]:
def anagram(str1, str2):
    str1 = str1.replace(" ", "").lower()
    str2 = str2.replace(" ", "").lower()
    return sorted(str1) == sorted(str2)
a=input('Enter the string1:')
b=input('Enter the string2:')
if anagram(a,b):
    print(f"{a} and {b} are anagrams.")
else:
    print(f"{a} and {b} are not anagrams.")

Enter the string1: post
Enter the string2: STOP

post and STOP are anagrams.

42. Encode a string using a Caesar cipher.

In [13]:
def encrypt(a,b):
    result = ""
    for i in range(len(a)):
        char = a[i]
        if (char.isupper()):
            result += chr((ord(char) + b-65) % 26 + 65)
        else:
            result += chr((ord(char) + b- 97) % 26 + 97)

    return result
a=input('Enter the text')
b=int(input('Enter the shift of alphabet :'))
print ("Text : " + a)
print ("Shift : " + str(b))
print ("Cipher: " + encrypt(a,b))

Enter the text secret
Enter the shift of alphabet : 2

Text : secret
Shift : 2
Cipher: ugetgv

43. Decode a Caesar cipher encoded string.

In [17]:
def caesar_cipher_decode(ciphertext, shift):
    decrypted_text = ""

    for char in ciphertext:
        if char.isalpha():
            is_upper = char.isupper()
            decrypted_char = chr((ord(char) - shift - ord('A' if is_upper else 'a')) % 26 + ord('A' if is_upper else 'a'))
            
            decrypted_text += decrypted_char
        else:
            decrypted_text += char

    return decrypted_text

ciphertext = input('Enter the text')
shift = int(input('Enter the shift'))
decrypted_text = caesar_cipher_decode(ciphertext, shift)

print("Ciphertext:", ciphertext)
print("Decrypted text:", decrypted_text)

Enter the text j bn hppe cpz
Enter the shift 1

Ciphertext: j bn hppe cpz
Decrypted text: i am good boy

44. Find the most frequent word in a string.

In [26]:
a=input('Enter the string:')
b = ''.join(char.lower() if char.isalnum() or char.isspace() else ' ' for char in a)

c =b.split()

word_counts = {}
for word in b:
    word_counts[word] = word_counts.get(word, 0) + 1

d= max(word_counts, key=word_counts.get)
frequency = word_counts[d]

print("Most frequent word:",d)
print("Frequency:", frequency)

Enter the string: AURANGABAD

Most frequent word: a
Frequency: 4

45. Find all unique words in a string.

In [30]:
a=input('Enter the string:')
b= ''.join(char.lower() if char.isalnum() or char.isspace() else ' ' for char in a)
c = b.split()
unique_words = set(c)
print("Unique words:", unique_words)

Enter the string: hey hi

Unique words: {'hi', 'hey'}

46. Count the number of syllables in a string.

In [32]:
a=input('Enter the string:')
vowels = "aeiouy"
syllable_count = sum(1 for char in a.lower() if char in vowels)
print("Approximate syllable count:", syllable_count)

Enter the string: vapour

Approximate syllable count: 3

47. Check if a string contains any special characters.

In [35]:
a=input('Enter the string:')
        
special_characters = any(not char.isalnum() and not char.isspace() for char in a)

if special_characters:
    print("The string contains special characters.")
else:
    print("The string does not contain any special characters.")

Enter the string: he got 98.9% in exams.

The string contains special characters.

48. Remove the nth word from a string.

In [43]:
a=input('Enter the string:')
b = a.split()

n = int(input('Enter an index'))
if 1 <= n <= len(b):
    del b[n - 1] 
    result_string = ' '.join(b)

    print("Original string:",a)
    print(f"String after removing the {n} word:", result_string)
else:
    print(f"Invalid index {n}. The string has {len(b)} words.")
    print("Original string:",a)

Enter the string: i didnt understand
Enter an index 2

Original string: i didnt understand
String after removing the 2 word: i understand

49. Insert a word at the nth position in a string.

In [6]:
a=input('Enter the string:')
b= input("new string to insert")
c= int(input("Enter the position"))
d = a[:c] +" "+ b +" "+ a[c:]
print(d)

Enter the string: how you
new string to insert are
Enter the position 4

how  are you

50. Convert a CSV string to a list of lists.

In [14]:
csv_string = "1,John,Doe\n2,Jane,Smith\n3,Bob,Johnson"
list_of_lists = [row.split(',') for row in csv_string.split('\n') if row]
print(list_of_lists)

[['1', 'John', 'Doe'], ['2', 'Jane', 'Smith'], ['3', 'Bob', 'Johnson']]

LIST

1. Create a list with integers from 1 to 10.

In [18]:
a = list(range(1, 11))
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Find the length of a list without using the `len()` function.

In [21]:
list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
length = 0
for _ in list:
    length += 1
print("Length of the list:", length)

Length of the list: 10

3. Append an element to the end of a list.

In [5]:
list=[10,20,30]
new_element=(int(40))
list.append(new_element)
print(list)

[10, 20, 30, 40]

4. Insert an element at a specific index in a list.

list=[11,12,13,14,15]
new_element=int(input('Enter new element'))
index=int(input('enter the index'))
list.insert(index,new_element)
print(list)

5. Remove an element from a list by its value.

In [12]:
list=[11,12,13,14,15]
list.remove(13)
print(list)

[11, 12, 14, 15]

6. Remove an element from a list by its index.

In [13]:
list=[11,12,13,14,15]
list.pop(3)
print(list)

[11, 12, 13, 15]

7. Check if an element exists in a list.

In [22]:
list=[11,12,13,14,15]
check=12
if check in list:
  print('True')
else:
  print('False')

True

8. Find the index of the first occurrence of an element in a list.

In [33]:
list=[11,12,13,14,15,16,17,18,19,20]
element_index = list.index(16)
print('The index of element is:',element_index)

The index of element is: 5

Count the occurrences of an element in a list.

In [36]:
list=[11,12,13,12,15,16,12,18,12,20]
count = list.count(12)
print('the element count:',count)

the element count: 4

10. Reverse the order of elements in a list.

In [40]:
list=[11,12,13,14,15,16,17,18,19,20]
list.reverse()
print('reverse list',list)

reverse list [20, 19, 18, 17, 16, 15, 14, 13, 12, 11]

11. Sort a list in ascending order.

In [42]:
list=[20,34,75,37,12,13,12,15,16,12,18,1456,20]
list.sort()
print('After sorting',list)

After sorting [12, 12, 12, 13, 15, 16, 18, 20, 20, 34, 37, 75, 1456]

12. Sort a list in descending order.

In [43]:
list=[20,34,75,37,12,13,12,15,16,12,18,1456,20]
list.sort()
list.reverse()
print('After sorting in descending order',list)

After sorting in descending order [1456, 75, 37, 34, 20, 20, 18, 16, 15, 13, 12, 12, 12]

13. Create a list of even numbers from 1 to 20.

In [44]:
even_list=[x for x in range(2,21,2)]
print('List in even numbers:',even_list)

List in even numbers: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

14. Create a list of odd numbers from 1 to 20.

In [49]:
odd_list=[x for x in range(1,20,2)]
print('List of odd numbers',odd_list)

List of odd numbers [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

15. Find the sum of all elements in a list.

In [51]:
list=[11,12,13,14,15,16,17,18,19,20]
sum_list = sum(list)
print('After sumition of list',sum_list)

After sumition of list 155

16. Find the maximum value in a list.

In [1]:
list=[11,12,13,14,15,16,17,18,19,20]
Max = max(list)
print('Maximum Value in list',Max)

Maximum Value in list 20

17. Find the minimum value in a list.

In [2]:
list=[20,34,75,37,12,13,12,15,16,12,18,1456,20]
Min=min(list)
print('Minimum value in list',Min)

Minimum value in list 12

18. Create a list of squares of numbers from 1 to 10.

In [5]:
square_list=[x ** 2 for x in range(1,11,)]
print(square_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

19. Create a list of random numbers.

In [15]:
import random
random_list=[random.randint(1, 100) for _ in range(10)]
print(random_list)

[48, 43, 4, 1, 97, 38, 13, 10, 85, 15]

20. Remove duplicates from a list.

In [ ]:
my_list = [10, 20, 30, 20, 40, 10, 50, 30]
unique_list = list(set(my_list))
print("List without duplicates:", unique_list)

List without duplicates: [40, 10, 50, 20, 30]

21. Find the common elements between two lists.

In [4]:
list1=[1,21,69,71,45]
list2=[23,45,69,66]
common = [x for x in list1 if x in list2]
print('Common Elements:',common)

Common Elements: [69, 45]

22. Find the difference between two lists.

In [8]:
list1=[1,21,69,71,45]
list2=[23,45,69,66]
Difference = [x for x in list1 if x not in list2]
print('Different',Difference)

Different [1, 21, 71]

23. Merge two lists.

In [9]:
list1=[1,21,69,71,45]
list2=[23,45,69,66]
Mergedlist= list1+list2
print('Mergedlist:',Mergedlist)

Mergedlist: [1, 21, 69, 71, 45, 23, 45, 69, 66]

24. Multiply all elements in a list by 2.

In [13]:
list1=[1,21,69,71,45]
list2= [x*2 for x in list1]
print(list2)

[2, 42, 138, 142, 90]

25. Filter out all even numbers from a list.

In [16]:
list1=[23,45,69,66,34,54]
list2=[x for x in list1 if x %2==0]
print(list2)

[66, 34, 54]

26. Convert a list of strings to a list of integers.

In [19]:
list1 = ["1", "2", "3", "4", "5"]
list2 = list(map(int,list1))
print("List of integers:",list2)

List of integers: [1, 2, 3, 4, 5]

27. Convert a list of integers to a list of strings.

In [23]:
list1=[23,45,69,66,34,54]
list2=list(map(str,list1))
print('List of strings:',list2)

List of strings: ['23', '45', '69', '66', '34', '54']

28. Flatten a nested list.

In [28]:
list1=[[0,9,8,7],[6,5,4],[3,2,1]]
list2=[x for i in list1 for x in i]
print('Flatten List:',list2)

Flatten List: [0, 9, 8, 7, 6, 5, 4, 3, 2, 1]

29. Create a list of the first 10 Fibonacci numbers.

In [4]:
fibonacci = [0,1]

while len(fibonacci) < 10:
    list2 = fibonacci[-1] +fibonacci[-2]
    fibonacci.append(list2)
    
print(fibonacci)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

30. Check if a list is sorted.

In [12]:
list1=[1,2,3,5,6,]
sorted = all(list1[i]<=list1[i+1] for i in range(len(list1)-1))
print('Sorted?',sorted)

Sorted? True

31. Rotate a list to the left by `n` positions

In [6]:
original_list = [1, 2, 3, 4, 5]
positions_to_rotate =2

rotated_list = original_list[positions_to_rotate % len(original_list):] + original_list[:positions_to_rotate % len(original_list)]

print("Original List:", original_list)
print(f"Rotated List ({positions_to_rotate} positions to the left):", rotated_list)

Original List: [1, 2, 3, 4, 5]
Rotated List (2 positions to the left): [3, 4, 5, 1, 2]

32. Rotate a list to the right by `n` positions.

In [7]:
original_list = [1, 2, 3, 4, 5]
positions_to_rotate = 2

rotated_list = original_list[-positions_to_rotate % len(original_list):] + original_list[:-positions_to_rotate % len(original_list)]

print("Original List:", original_list)
print(f"Rotated List ({positions_to_rotate} positions to the right):", rotated_list)

Original List: [1, 2, 3, 4, 5]
Rotated List (2 positions to the right): [4, 5, 1, 2, 3]

33. Create a list of prime numbers up to 50.

In [1]:
prime_numbers_up_to_50 = [num for num in range(2, 51) if all(num % i != 0 for i in range(2, int(num**0.5) + 1))]

print("Prime numbers up to 50:", prime_numbers_up_to_50)

Prime numbers up to 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

34. Split a list into chunks of size `n`.

In [2]:
original_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
chunk_size = 3

chunked_list = [original_list[i:i + chunk_size] for i in range(0, len(original_list), chunk_size)]

print(f"Original List: {original_list}")
print(f"Chunked List (size {chunk_size}): {chunked_list}")

Original List: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Chunked List (size 3): [[1, 2, 3], [4, 5, 6], [7, 8, 9], [10]]

35. Find the second largest number in a list.

In [6]:
numbers = [10, 5, 8, 20, 15, 7]
unique_numbers = list(set(numbers))
if len(unique_numbers) >= 2:
    second_largest = sorted(unique_numbers, reverse=True)[1]
    print("Second largest number:", second_largest)
else:
    print("Not enough unique numbers in the list.")

Second largest number: 15

36. Replace every element in a list with its square.

In [8]:
original_list = [1, 2, 3, 4, 5]

squared_list = [x ** 2 for x in original_list]

print("Original List:", original_list)
print("Squared List:", squared_list)

Original List: [1, 2, 3, 4, 5]
Squared List: [1, 4, 9, 16, 25]

37. Convert a list to a dictionary where list elements become keys and their
indices become values.

In [9]:
original_list = ['apple', 'banana', 'orange', 'grape']
result_dict = {element: index for index, element in enumerate(original_list)}

print("Original List:", original_list)
print("Dictionary:", result_dict)

Original List: ['apple', 'banana', 'orange', 'grape']
Dictionary: {'apple': 0, 'banana': 1, 'orange': 2, 'grape': 3}

38. Shuffle the elements of a list randomly.

In [11]:
import random

original_list = [1, 2, 3, 4, 5]
random.shuffle(original_list)

print("Original List:", original_list)

Original List: [2, 3, 5, 1, 4]

39. Create a list of the first 10 factorial numbers.

In [31]:
import math
factorial_numbers = [math.factorial(i) for i in range(10)]

print("Factorial Numbers:", factorial_numbers)

Factorial Numbers: [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

40. Check if two lists have at least one element in common.

In [32]:
list1 = [1, 2, 3, 4, 5]
list2 = [5, 6, 7, 8, 9]
common_elements = any(item in list1 for item in list2)

if common_elements:
    print("The lists have at least one common element.")
else:
    print("The lists do not have any common elements.")

The lists have at least one common element.

41. Remove all elements from a list.

In [34]:
list1 = [1, 2, 3, 4, 5]
list1.clear()
print(list1)

[]

42. Replace negative numbers in a list with 0.

original_list = [1, -2, 3, -4, 5, -6, 7, -8]
modified_list = [max(0, num) for num in original_list]

print("Original List:", original_list)
print("Modified List:", modified_list)

43. Convert a string into a list of words.

In [4]:
sentence = "This is a sample sentence."
word_list = sentence.split()

print("Original Sentence:", sentence)
print("List of Words:", word_list)

Original Sentence: This is a sample sentence.
List of Words: ['This', 'is', 'a', 'sample', 'sentence.']

44. Convert a list of words into a string.

word_list = ['This', 'is', 'a', 'sample', 'sentence.']

print("List of Words:", word_list)
print("Original Sentence:", sentence)

45. Create a list of the first `n` powers of 2.

In [6]:
n = 5  
powers_of_2 = [2 ** i for i in range(n)]

print(f"The first {n} powers of 2:", powers_of_2)

The first 5 powers of 2: [1, 2, 4, 8, 16]

46. Find the longest string in a list of strings.

In [7]:
string_list = ["apple", "banana", "orange", "grapefruit", "kiwi"]
longest_string = max(string_list, key=len)

print("List of Strings:", string_list)
print("Longest String:", longest_string)

List of Strings: ['apple', 'banana', 'orange', 'grapefruit', 'kiwi']
Longest String: grapefruit

47. Find the shortest string in a list of strings.

In [8]:
string_list = ["apple", "banana", "orange", "grapefruit", "kiwi"]
longest_string = min(string_list, key=len)

print("List of Strings:", string_list)
print("Longest String:", longest_string)

List of Strings: ['apple', 'banana', 'orange', 'grapefruit', 'kiwi']
Longest String: kiwi

48. Create a list of the first `n` triangular numbers.

In [9]:
n = 5  
triangular_numbers = [sum(range(1, i + 1)) for i in range(1, n + 1)]

print(f"The first {n} triangular numbers:", triangular_numbers)

The first 5 triangular numbers: [1, 3, 6, 10, 15]

49. Check if a list contains another list as a subsequence.

In [10]:
sequence = [1, 2, 3, 4, 5, 6, 7, 8, 9]
subsequence = [3, 5, 7]
i, j = 0, 0
while i < len(subsequence) and j < len(sequence):
    if subsequence[i] == sequence[j]:
        i += 1
    j += 1

result = i == len(subsequence)

if result:
    print("The subsequence is present in the sequence.")
else:
    print("The subsequence is not present in the sequence.")

The subsequence is present in the sequence.

50. Swap two elements in a list by their indices.

In [11]:
my_list = [1, 2, 3, 4, 5]
index1, index2 = 1, 3
my_list[index1], my_list[index2] = my_list[index2], my_list[index1]

print("Original List:", my_list)

Original List: [1, 4, 3, 2, 5]

Tuple Based Practice Problem :

1. Create a tuple with integers from 1 to 5.

In [16]:
t1=tuple(range(1,5))
print(t1)

(1, 2, 3, 4)

2. Access the third element of a tuple.

In [44]:
t1=tuple(range(1,5))
print(t1[2])

3

3. Find the length of a tuple without using the `len()` function.

In [37]:
t1=tuple(range(1,5))
print(t1)
t2=sum(1 for _ in t1)
print(t2)

(1, 2, 3, 4)
4

4. Count the occurrences of an element in a tuple.

In [43]:
t1=(1,2,34,7,7,5,6,7,8,3,4)
t1.count(7)

3

5. Find the index of the first occurrence of an element in a tuple.

In [48]:
t1=(1,2,34,7,7,5,6,7,8,3,4)
t1.index(1)

0

6. Check if an element exists in a tuple.

In [54]:
t1=(2,45,5,6,3,4,6,3,5)
t2=input('Enter the element')
if t2 in t1:
    print(f"The element {t2} is found in {t1}")
else:
    print(f"The element {t2} is not found in {t1}")

Enter the element 7

The element 7 is not found in (2, 45, 5, 6, 3, 4, 6, 3, 5)

7. Convert a tuple to a list.

In [56]:
t1=(2,45,5,6,3,4,6,3,5)
t2=list(t1)
print(t2)

[2, 45, 5, 6, 3, 4, 6, 3, 5]

In [57]:
t1=[1,2,3,9,8,7,5]
t2=tuple(t1)
print(t2)

(1, 2, 3, 9, 8, 7, 5)

9. Unpack the elements of a tuple into variables.

In [59]:
t1=(45,67,78)
num1,num2,num3=t1
print('Unpacked Variables:',num1,num2,num3)

Unpacked Variables: 45 67 78

10. Create a tuple of even numbers from 1 to 10.

In [62]:
t1=tuple(x for x in range(1,11) if x%2==0)
print(t1)

(2, 4, 6, 8, 10)

11. Create a tuple of odd numbers from 1 to 10.

In [63]:
t1=tuple(x for x in range(1,10) if x%2!=0)
print(t1)

(1, 3, 5, 7, 9)

12. Concatenate two tuples.

In [64]:
t1=(1,2,3,4,5)
t2=(6,7,8,9)
t3=t1+t2
print(t3)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

13. Repeat a tuple three times.

In [67]:
t1=(1,2,8,9)*3
print(t1)

(1, 2, 8, 9, 1, 2, 8, 9, 1, 2, 8, 9)

14. Check if a tuple is empty.

In [76]:
t1=()

if not  t1:
    print(" It is empty")
else:
    print("It is not empty")

 It is empty

15. Create a nested tuple.

In [77]:
t1=((1,2,8,9),(3,21,),(3,7,8,4))
print(t1)

((1, 2, 8, 9), (3, 21), (3, 7, 8, 4))

16. Access the first element of a nested tuple.

In [80]:
t1=((1,2,8,9),(3,21,),(3,7,8,4))
t1[0]

(1, 2, 8, 9)

17. Create a tuple with a single element.

In [82]:
t1=(7,)
print(t1)

(7,)

18. Compare two tuples.

In [83]:
t1=(1,3,5,7,9)
t2=(1,3,5,7,9)
if t1==t2:
    print('Tuples are equal')
else:
    print('Tuples are not equal')

Tuples are equal

19. Delete a tuple.

In [ ]:
t1=(1,3,5,7,9)
del t1
print(t1)

20. Slice a tuple.

In [5]:
t1=(1,3,5,7,9)
t2=t1[0:len(t1):2]
print(t2)

(1, 5, 9)

21. Find the maximum value in a tuple.

In [6]:
t1=(2,45,5,6,3,4,6,3,5)
t2=max(t1)
print(t2)

45

22. Find the minimum value in a tuple.

In [7]:
t1=(2,45,5,6,3,4,6,3,5)
t2=min(t1)
print(t2)

2

23. Convert a string to a tuple of characters.

In [13]:
t1='this is pwskills'
t2=tuple(t1)
print(t2)

('t', 'h', 'i', 's', ' ', 'i', 's', ' ', 'p', 'w', 's', 'k', 'i', 'l', 'l', 's')

24. Convert a tuple of characters to a string.

In [22]:
t1=(2,3,4,5,6,7)
t2=str(t1)
print(t2)
type(t2)

(2, 3, 4, 5, 6, 7)

str

25. Create a tuple from multiple data types.

In [24]:
element1 = input("Enter an element (e.g., an integer): ")
element2 = input("Enter another element (e.g., a string): ")
element3 = input("Enter another element (e.g., a float): ")
element1 = int(element1)
element3 = float(element3)
mixed_tuple = (element1, element2, element3)
print("Mixed Tuple:", mixed_tuple)

Enter an element (e.g., an integer):  7
Enter another element (e.g., a string):  h
Enter another element (e.g., a float):  9.55

Mixed Tuple: (7, 'h', 9.55)

26. Check if two tuples are identical.

In [29]:
t1 = (5, 2, 3, 4, 5)
t2 = (1, 2, 9, 0, 5)
if t1==t2:
    print("Both are identical")
else:
    print("Both are not identical")

Both are not identical

27. Sort the elements of a tuple.

In [30]:
t1 = (1, 2, 9, 0, 5)
t2=sorted(t1)
print(t2)

[0, 1, 2, 5, 9]

28. Convert a tuple of integers to a tuple of strings.

In [37]:
t1=(2,3,4,5,6,7)
t2=tuple(map(str,t1))
print(t2)

('2', '3', '4', '5', '6', '7')

29. Convert a tuple of strings to a tuple of integers.

In [34]:
t1=('3','4','8','6','0')
t2=tuple(map(int,t1))
print(t2)

(3, 4, 8, 6, 0)

30. Merge two tuples.

In [39]:
t1=(2,3,4,5,6,7)
t2 = (1, 2, 9, 0, 5)
t3=t1+t2
print(t3)

(2, 3, 4, 5, 6, 7, 1, 2, 9, 0, 5)

In [49]:
def flatten_nested_tuple(nested_tuple):
    flattened_list = []

    for item in nested_tuple:
        if isinstance(item, tuple):
          
            flattened_list.extend(flatten_nested_tuple(item))
        else:
          
            flattened_list.append(item)

    return flattened_list

nested_tuple = ((1, 2), (3, (4, 5)), 6, (7, 8))

flattened_tuple = tuple(flatten_nested_tuple(nested_tuple))

print("Original Nested Tuple:", nested_tuple)
print("Flattened Tuple:", flattened_tuple)

Original Nested Tuple: ((1, 2), (3, (4, 5)), 6, (7, 8))
Flattened Tuple: (1, 2, 3, 4, 5, 6, 7, 8)

32. Create a tuple of the first 5 prime numbers.

In [5]:
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5)+1):
        if num % i == 0:
            return False
    return True


prime_number = []
num=2

while len(prime_number) < 5:
    if is_prime(num):
        prime_number.append(num)
    num+=1
t2=tuple(prime_number)
print(t2)

(2, 3, 5, 7, 11)

33. Check if a tuple is a palindrome.

In [9]:
t1=(2,3,4,3,2)

if t1[:]==t1[::-1]:
    print("Tuple is palindrome")
else:
    print("Tuple is not palindrome")

Tuple is palindrome

34. Create a tuple of squares of numbers from 1 to 5.

In [18]:
t1=tuple(x**2 for x in range(1,6) )
print(t1)

(1, 4, 9, 16, 25)

35. Filter out all even numbers from a tuple.

In [20]:
t1=tuple(x for x in range(2,11) if x%2==0)
print(t1)

(2, 4, 6, 8, 10)

36. Multiply all elements in a tuple by 2.

In [21]:
t1=tuple(x*2 for x in range(1,11))
print(t1)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20)

37. Create a tuple of random numbers.

In [35]:
import random
t1=tuple(random.randint(1,1000) for t1 in range(10))
print(t1)

(759, 249, 320, 537, 624, 130, 319, 974, 678, 506)

38. Check if a tuple is sorted.

In [50]:
t1=(1,2,3,4,5)
if all(t1[i]<=t1[i+1] for i in range(len(t1)-1)):
        print("sorted tuple")
else:
        print("Unsorted tuple")

sorted tuple

39. Rotate a tuple to the left by `n` positions.

In [8]:
def rotate_tuple_left(tup, n):
    n = n % len(tup)
    rotated_tuple = tup[n:] + tup[:n]
    return rotated_tuple

original_tuple = (1, 2, 3, 4, 5)
positions_to_rotate = 2
rotated_result = rotate_tuple_left(original_tuple, positions_to_rotate)

print(f"Original Tuple: {original_tuple}")
print(f"Rotated Tuple: {rotated_result}")

Original Tuple: (1, 2, 3, 4, 5)
Rotated Tuple: (3, 4, 5, 1, 2)

40. Rotate a tuple to the right by `n` positions.

In [11]:
def rotate_tuple_left(tup, n):
    n = n % len(tup)
    rotated_tuple = tup[-n:] + tup[:-n]
    return rotated_tuple

original_tuple = (1, 2, 3, 4, 5)
positions_to_rotate = 2
rotated_result = rotate_tuple_left(original_tuple, positions_to_rotate)

print(f"Original Tuple: {original_tuple}")
print(f"Rotated Tuple: {rotated_result}")

Original Tuple: (1, 2, 3, 4, 5)
Rotated Tuple: (4, 5, 1, 2, 3)

41. Create a tuple of the first 5 Fibonacci numbers.

In [19]:
def fibonacci(n):
    tup = [0,1]
    while len(tup) < n:
        tup.append(tup[-1]+tup[-2])
    return tuple(tup)
    
f=fibonacci(5)
print(f)

(0, 1, 1, 2, 3)

In [31]:
t1=(input(('Enter the element')))
t1.split(' ')
print(tuple(t1))

Enter the element 1ihwhl

('1', 'i', 'h', 'w', 'h', 'l')

43. Swap two elements in a tuple.

In [3]:
def swap_elements(tup, index1, index2):
   
    temp_list = list(tup)
    
    temp_list[index1], temp_list[index2] = temp_list[index2], temp_list[index1]
    
    swapped_tuple = tuple(temp_list)
    
    return swapped_tuple

original_tuple = (1, 2, 3, 4, 5)
index_to_swap1 = 1
index_to_swap2 = 3

swapped_result = swap_elements(original_tuple, index_to_swap1, index_to_swap2)

print(f"Original Tuple: {original_tuple}")
print(f"Swapped Tuple: {swapped_result}")

Original Tuple: (1, 2, 3, 4, 5)
Swapped Tuple: (1, 4, 3, 2, 5)

44. Reverse the elements of a tuple.

In [4]:
def reverse_tuple(tup):
    reversed_tuple = tuple(reversed(tup))
    return reversed_tuple

original_tuple = (1, 2, 3, 4, 5)
reversed_result = reverse_tuple(original_tuple)

print(f"Original Tuple: {original_tuple}")
print(f"Reversed Tuple: {reversed_result}")

Original Tuple: (1, 2, 3, 4, 5)
Reversed Tuple: (5, 4, 3, 2, 1)

45. Create a tuple of the first `n` powers of 2.

In [5]:
def generate_powers_of_2(n):
    powers_of_2 = tuple(2**i for i in range(n))
    return powers_of_2

n = 5
powers_of_2_tuple = generate_powers_of_2(n)

print(f"Tuple of the first {n} powers of 2: {powers_of_2_tuple}")

Tuple of the first 5 powers of 2: (1, 2, 4, 8, 16)

46. Find the longest string in a tuple of strings.

In [6]:
def find_longest_string(tuple_of_strings):
    if not tuple_of_strings: 
        return None
    
    longest_string = max(tuple_of_strings, key=len)
    return longest_string

strings_tuple = ("apple", "banana", "kiwi", "orange", "strawberry")
longest_string_result = find_longest_string(strings_tuple)

print(f"Tuple of strings: {strings_tuple}")
print(f"Longest string: {longest_string_result}")

Tuple of strings: ('apple', 'banana', 'kiwi', 'orange', 'strawberry')
Longest string: strawberry

47. Find the shortest string in a tuple of strings.

In [9]:
def find_shortest_string(tuple_of_strings):
    if not tuple_of_strings:
        return None
    
    shortest_string = min(tuple_of_strings, key=len)
    return shortest_string

strings_tuple = ("apple", "banana", "kiwi", "orange", "strawberry")
shortest_string_result = find_shortest_string(strings_tuple)

print(f"Tuple of strings: {strings_tuple}")
print(f"Shortest string: {shortest_string_result}")

Tuple of strings: ('apple', 'banana', 'kiwi', 'orange', 'strawberry')
Shortest string: kiwi

48. Create a tuple of the first `n` triangular numbers.

In [10]:
def generate_triangular_numbers(n):
    triangular_numbers = tuple((i * (i + 1)) // 2 for i in range(1, n + 1))
    return triangular_numbers

n = 5
triangular_numbers_tuple = generate_triangular_numbers(n)

print(f"Tuple of the first {n} triangular numbers: {triangular_numbers_tuple}")

Tuple of the first 5 triangular numbers: (1, 3, 6, 10, 15)

49. Check if a tuple contains another tuple as a subsequence.

In [11]:
def is_subsequence(sub, main):
    sub_len = len(sub)
    main_len = len(main)

    
    for i in range(main_len - sub_len + 1):
        #
        if main[i:i + sub_len] == sub:
            return True

    return False


main_tuple = (1, 2, 3, 4, 5, 6, 7)
sub_tuple = (3, 4, 5)

result = is_subsequence(sub_tuple, main_tuple)

print(f"Main Tuple: {main_tuple}")
print(f"Sub Tuple: {sub_tuple}")
print(f"Is Sub Tuple a subsequence? {result}")

Main Tuple: (1, 2, 3, 4, 5, 6, 7)
Sub Tuple: (3, 4, 5)
Is Sub Tuple a subsequence? True

50. Create a tuple of alternating 1s and 0s of length `n`.

In [12]:
def create_alternating_tuple(n):
    alternating_tuple = tuple((i % 2) for i in range(n))
    return alternating_tuple
n = 8
alternating_tuple = create_alternating_tuple(n)

print(f"Alternating Tuple of length {n}: {alternating_tuple}")

Alternating Tuple of length 8: (0, 1, 0, 1, 0, 1, 0, 1)

SET

1. Create a set with integers from 1 to 5.

In [18]:
s1=set(range(1,6))
print(s1)

{1, 2, 3, 4, 5}

2. Add an element to a set.

In [19]:
s1={1,2,4,5}
s1.add(3)
print(s1)

{1, 2, 3, 4, 5}

3. Remove an element from a set.

In [21]:
s1={1,2,3,4,5}
s1.remove(5)
print(s1)

{1, 2, 3, 4}

4. Check if an element exists in a set.

In [23]:
my_set = {1, 2, 3, 4, 5}

element_to_check = 3

if element_to_check in my_set:
    print(f"{element_to_check} exists in the set.")
else:
    print(f"{element_to_check} does not exist in the set.")

3 exists in the set.

5. Find the length of a set without using the `len()` function.

In [24]:
def set_length(my_set):
    count = 0
    for _ in my_set:
        count += 1
    return count

my_set = {1, 2, 3, 4, 5}
length_of_set = set_length(my_set)

print(f"Length of the set: {length_of_set}")

Length of the set: 5

6. Clear all elements from a set.

In [25]:
s1 = {1, 2, 3, 4, 5}
s1.clear()
print(s1)

set()

7. Create a set of even numbers from 1 to 10.

In [28]:
s1=set(x for x in range(1,11) if x%2==0)
print(s1)

{2, 4, 6, 8, 10}

8. Create a set of odd numbers from 1 to 10.

In [29]:
s1=set(x for x in range(1,10) if x%2!=0)
print(s1)

{1, 3, 5, 7, 9}

9. Find the union of two sets.

In [32]:
s1 = {1, 2, 3, 4, 5}
s2={2,3,4,5}
s1.union(s2)

{1, 2, 3, 4, 5}

10. Find the intersection of two sets.

In [33]:
s1 = {1, 2, 3, 4, 5}
s2={2,3,4,5}
s1.intersection(s2)

{2, 3, 4, 5}

11. Find the difference between two sets.

In [35]:
s1={1,2,3,4,5}
s2={7,8,5,2}
s1.difference(s2)

{1, 3, 4}

12. Check if a set is a subset of another set.

In [36]:
s1={1,2,3,4,5}
s2={3,4,5}
s2.issubset(s1)

True

13. Check if a set is a superset of another set.

In [37]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4}
set1.issuperset(set2)

True

14. Create a set from a list.

In [38]:
s1=[1,2,3,4,5]
print(set(s1))

{1, 2, 3, 4, 5}

15. Convert a set to a list.

In [39]:
s1={1,2,3,4,5}
print(list(s1))

[1, 2, 3, 4, 5]

16. Remove a random element from a set.

17. Pop an element from a set.

In [44]:
my_set = {1, 2, 3, 4, 5}

random_element = my_set.pop()

print(f"Original Set: {my_set}")
print(f"Removed Random Element: {random_element}")

Original Set: {2, 3, 4, 5}
Removed Random Element: 1

18. Check if two sets have no elements in common.

In [1]:
s1={1,2,4,3,}
s2={1,3,4,5}
if s1==s2:
    print("set have common element")
else:
    print("set have no common element")

set have no common element

19. Find the symmetric difference between two sets.

In [2]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

symmetric_diff = set1.symmetric_difference(set2)
print(symmetric_diff)

{1, 2, 5, 6}

20. Update a set with elements from another set.

In [3]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

set1.update(set2)
print(set1)

{1, 2, 3, 4, 5}

21. Create a set of the first 5 prime numbers.

In [5]:
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

first_n_primes = set()
num = 2 

while len(first_n_primes) < 5:
    if is_prime(num):
        first_n_primes.add(num)
    num += 1
    
print(first_n_primes)

{2, 3, 5, 7, 11}

22. Check if two sets are identical.

In [6]:
set1 = {1, 2, 3}
set2 = {3, 2, 1}

are_identical = set1 == set2
print(are_identical)

True

23. Create a frozen set.

In [8]:

my_set = {1, 2, 3, 4}

my_frozen_set = frozenset(my_set)
print(my_frozen_set)

frozenset({1, 2, 3, 4})

24. Check if a set is disjoint with another set.

In [9]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}

are_disjoint = set1.isdisjoint(set2)
print(are_disjoint)

True

25. Create a set of squares of numbers from 1 to 5.

In [10]:
squares_set = {x**2 for x in range(1, 6)}
print(squares_set)

{1, 4, 9, 16, 25}

26. Filter out all even numbers from a set.

In [12]:
original_set = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

filtered_set = {x for x in original_set if x % 2 == 0}
print(filtered_set)

{2, 4, 6, 8, 10}

27. Multiply all elements in a set by 2.

In [13]:
original_set = {1, 2, 3, 4, 5}

multiplied_set = {x * 2 for x in original_set}
print(multiplied_set)

{2, 4, 6, 8, 10}

28. Create a set of random numbers.

In [14]:
import random
random_set = {random.randint(1, 100) for _ in range(5)}
print(random_set)

{67, 44, 17, 83, 28}

29. Check if a set is empty.

In [15]:
my_set = set()

if len(my_set) == 0:
    print("The set is empty")
else:
    print("The set is not empty")

The set is empty

30. Create a nested set (hint: use frozenset).

In [16]:
nested_set = {frozenset({1, 2}), frozenset({3, 4}), frozenset({5, 6})}
print(nested_set)

{frozenset({3, 4}), frozenset({5, 6}), frozenset({1, 2})}

31. Remove an element from a set using the discard method.

In [17]:
my_set = {1, 2, 3, 4, 5}
my_set.discard(3)
print(my_set)

{1, 2, 4, 5}

32. Compare two sets.

In [18]:
set1 = {1, 2, 3}
set2 = {3, 2, 1}

are_equal = set1 == set2
print(are_equal)

True

33. Create a set from a string.

In [19]:
my_string = "hello"
my_set = set(my_string)
print(my_set)

{'o', 'l', 'h', 'e'}

34. Convert a set of strings to a set of integers.

In [20]:
string_set = {'1', '2', '3', '4', '5'}
integer_set = {int(x) for x in string_set}
print(integer_set)

{1, 2, 3, 4, 5}

35. Convert a set of integers to a set of strings.

In [21]:
integer_set = {1, 2, 3, 4, 5}
string_set = {str(x) for x in integer_set}
print(string_set)

{'5', '4', '1', '3', '2'}

36. Create a set from a tuple.

In [22]:
my_tuple = (1, 2, 3, 4, 5)
my_set = set(my_tuple)
print(my_set)

{1, 2, 3, 4, 5}

37. Convert a set to a tuple.

In [23]:
my_set = {1, 2, 3, 4, 5}
my_tuple = tuple(my_set)
print(my_tuple)

(1, 2, 3, 4, 5)

38. Find the maximum value in a set.

In [24]:
my_set = {10, 5, 8, 15, 3}
max_value = max(my_set)
print(max_value)

15

39. Find the minimum value in a set.

In [25]:
my_set = {10, 5, 8, 15, 3}
min_value = min(my_set)
print(min_value)

3

40. Create a set from user input.

In [27]:
user_input_str = input("Enter elements separated by spaces: ")
input_list = user_input_str.split()
user_set = set(input_list)
print("Set from user input:", user_set)

Enter elements separated by spaces:  how are u

Set from user input: {'u', 'are', 'how'}

41. Check if the intersection of two sets is empty.

In [28]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}
intersection_result = set1.intersection(set2)
intersection_empty = not bool(intersection_result)
print(intersection_empty)

True

42. Create a set of the first 5 Fibonacci numbers.

In [29]:
def generate_fibonacci(n):
    fibonacci_set = set()
    a, b = 0, 1

    for _ in range(n):
        fibonacci_set.add(a)
        a, b = b, a + b

    return fibonacci_set
first_5_fibonacci = generate_fibonacci(5)
print(first_5_fibonacci)

{0, 1, 2, 3}

43. Remove duplicates from a list using sets.

In [30]:
my_list = [1, 2, 2, 3, 4, 4, 5]
unique_list = list(set(my_list))
print(unique_list)

[1, 2, 3, 4, 5]

44. Check if two sets have the same elements, regardless of their count.

In [31]:
set1 = {1, 2, 3, 4, 5}
set2 = {5, 4, 3, 2, 1}
have_same_elements = set(set1) == set(set2)
print(have_same_elements)

True

45. Create a set of the first `n` powers of 2.

In [32]:
def generate_powers_of_2(n):
    return {pow(2, i) for i in range(n)}
first_5_powers_of_2 = generate_powers_of_2(5)
print(first_5_powers_of_2)

{1, 2, 4, 8, 16}

46. Find the common elements between a set and a list.

In [33]:
my_set = {1, 2, 3, 4, 5}
my_list = [3, 4, 5, 6, 7]
common_elements = my_set.intersection(my_list)
print(common_elements)

{3, 4, 5}

47. Create a set of the first `n` triangular numbers.

In [34]:
def generate_triangular_numbers(n):
    return {i * (i + 1) // 2 for i in range(1, n + 1)}
first_5_triangular_numbers = generate_triangular_numbers(5)
print(first_5_triangular_numbers)

{1, 3, 6, 10, 15}

48. Check if a set contains another set as a subset.

In [35]:
set1 = {1, 2, 3, 4, 5}
set2 = {2, 3}

is_subset = set2.issubset(set1)
print(is_subset)

True

49. Create a set of alternating 1s and 0s of length `n`.

In [36]:
def generate_alternating_set(n):
    return {i % 2 for i in range(n)}
alternating_set = generate_alternating_set(8)
print(alternating_set)

{0, 1}

50. Merge multiple sets into one.

In [37]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

merged_set = set1.union(set2, set3)
print(merged_set)

{1, 2, 3, 4, 5, 6, 7}